.menu-container {
    margin: 1rem 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.menu_icon {
    font-size: 1.7rem;
    color: black;
}

@media (min-width: 768px) {
    .menu-container {
        margin: 1.5rem 2rem 1.5rem;
    }
}