.menu-container {
    margin: 1rem 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu_icon {
    font-size: 1.7rem;
    color: black;
}

@media (min-width: 550px) {
    .menu-container {
        margin: 1rem 2rem 1rem;
    }
}

@media (min-width: 768px) {
    .menu-container {
        margin: 1.5rem 2.5rem 1.5rem;
    }
}

@media (min-width: 1024px) {
    .menu-container {
        margin: 1.5rem 3rem 2rem;
    }
}
