.chat-container {
  min-height: 28rem;
}

.chat-title {
  font-size: 2rem;
  font-weight: bold;
  color: #a60038;
  margin: 2rem 1rem;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.back-conversations {
  margin: 1rem 1rem 2rem;
  align-items: center;
  background-color: #f2f2f2;  
  color: #4ca2cd;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  height: 3rem;
  border: 2px solid #4ca2cd;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  letter-spacing: 2px;
  text-align: center; 

}