.error-msg {
  color: #4ca2cd;
  font-size: 0.8rem;
}

.signBtn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}