body {
  background: #67B26F; 
  background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  
  background: linear-gradient(to right, #4ca2cd, #67B26F); 
}

.logo {
  width: 100%;
  margin: 4rem auto 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}