.send-message-form {
  padding: 1rem;
  background-color: #ffe0e9;
  border-top: 1px solid #ffb3c1;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
  
.send-message-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.send-message-container button {
  border: none;
  background-color: #ffe0e9;
  flex-shrink: 0;
  padding: 0.5rem;
  cursor: pointer;
}

.send-message-icon {
  color: #ffb3c1;
  background-color: none;
  font-size: 1.3rem;
}

.message-violation-error {
  color: #fa93a6;
  padding: 0.4rem;
}
