.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.config_page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  overflow-x: hidden;
  flex: 1;
  overflow-y: visible;
  min-height: 0;
}

/* Tablets and larger screens */
@media (min-width: 550px) {
  .config_page_container {
    padding: 1rem;
  }

  .button-container {
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 1.5rem;
  }
}

/* Large screens */
@media (min-width: 1024px) {
  .config_page_container {
    justify-content: flex-start;
  }

  .button-container {
    gap: 8rem;
    margin-bottom: 0.5rem;
  }
}